.fullscreen h1.title {
  margin-bottom: 0;
  letter-spacing: 2px;
}

.undertitle {
  font-style: italic;
}

.box-container p {
  font-size: 18px;
  margin-bottom: .2em;
}

.info-button {
  cursor: pointer;
}

.info-container {
  padding-left: 2.5em;
}

.btn {
  border-radius: 0;
}

.information {
  background-image: url('../images/information.png');
}

.projects {
  background-image: url('../images/projects.png');
}

.turkey {
  background-image: url('https://twemoji.maxcdn.com/2/svg/1f1f9-1f1f7.svg');
  vertical-align: -.3em;
  height: 1.25em;
  width: 1.25em;
  background-size: 1.25em 1.25em;
}

@media (max-width: 550px) {
  .info-container {
    padding-left: 0;
  }
}

a.one:link {
  color: #7fb4ff;
}

a.one:visited {
  color: #7fb4ff;
}

a.one:hover {
  color: #3f8fff;
}

a.one:active {
  color: #7fb4ff;
}
